@import url(http://fonts.googleapis.com/css?family=Andada);

html,body {
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
	overflow:hidden;
}

body {
	background: #666 url('walltest4.jpg') 50% 50%;
}

h1 {
	width: 100%;
	position:fixed;
	z-index: 100;
	color:  #eee;
	margin:0 auto;
	margin-top:20px;
	font-family: 'Andada', serif;
	font-size:105px;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	text-align:center;
}

#content {
  width: 800px;
  height:600px;
  background:transparent url('frame.png') 0 0 no-repeat;
  padding-top: 39px;
  position:absolute;
  left: 50%;
  top:50%;
  margin-left:-400px;
  margin-top:-300px;
}

#stage {
  background:#ccc url('stage.png') 0 0 no-repeat;
  margin-left:46px;
  width: 691px;
  height: 521px;
  position:relative;
  overflow:hidden;
}

#chair1, #chair2, #chair3 {
	position:absolute;
	background: url('chairs.png') no-repeat 0 0;
}

#shadow2, #shadow3 {
	position:absolute;
	background: url('shadow.png') no-repeat 0 0;
	opacity: 0.1;
}

#chair1 {
	width: 235px;
	height: 475px;
	left: 20px;
	top:130px;
	z-index: 5;
	animation: chair1 4.1s ease-in-out 0s infinite alternate;
}

@keyframes chair1 {
  0% {
  	transform: translateY(0);
  }
  100% {
  	transform: translateY(30px);
  }
}

#chair2 {
	background-position: -276px -211px;
	width: 125px;
	height: 253px;
	left: 242px;
	top:180px;
	z-index: 4;
	animation: chair2 3.9s ease-in-out 0s infinite alternate;
}

@keyframes chair2 {
  0% {
  	transform: translateY(0);
  }
  100% {
  	transform: translateY(15px);
  }
}

#shadow2{
	left: 230px;
	top:450px;
	width: 161px;
	height: 33px;
	animation: shadow2 3.9s ease-in-out 0s infinite alternate;
}

@keyframes shadow2{
  0% {
  	transform: scale(0.4);
  	opacity:0.4;
  }
  100% {
  	transform: scale(0.6);
  	opacity:0.6;
  }
}

#chair3 {
	background-position: -270px -24px;
	width: 90px;
	height: 169px;
	left: 347px;
	top: 185px;
	z-index: 3;
	animation: chair3 4s ease-in-out 0s infinite alternate;
}

@keyframes chair3{
  0% {
  	transform: translateY(0);
  }
  100% {
  	transform: translateY(10px);
  }
}

#shadow3{
	left: 320px;
	top: 370px;
	width: 161px;
	height: 33px;
	animation: shadow3 4s ease-in-out 0s infinite alternate;
}
@keyframes shadow3{
  0% {
  	transform: scale(0.3);
  	opacity:0.3;
  }
  100% {
  	transform: scale(0.4);
  	opacity:0.4;
  }
}


